.container {
  background-color: #696969;
  padding: 4px;
  margin: 0 auto;
  color: white;
}

.container h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4em;
  margin-left: 40px;
}

.container h6 {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  margin-left: 40px;
}
