<table class="table">
  <tbody>
    <tr *ngFor="let new of news" class="list">
      <td class="title">
        {{ new.title }} <span class="author">- {{ new.author }} -</span>
      </td>

      <td class="time">{{ new.created_at_i }}</td>
      <td class="delete">
        <i (click)="onDeleteNews(new._id)" class="fa-solid fa-trash-can"></i>
      </td>
    </tr>
  </tbody>
</table>
