.table {
  width: 90%;
  margin-bottom: 1rem;
  color: #212529;
  margin: auto;
  margin-top: 5%;
}

.list {
  background-color: #fff;
  padding: 1rem;
}
td {
  padding: 0.5rem;
}
.title {
  color: #333;
  font-size: 13px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 5px;
  width: 75%;
}

.time {
  color: #333;
  font-size: 13px;
  font-size: 13px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 5px;
}

.author {
  color: #999;
  font-size: 13px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 5px;
}
.delete {
  color: #999;
  font-size: 13px;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 5px;
}

.delete i {
  color: #212529;
}

tr:hover {
  background-color: #fafafa;
  cursor: pointer;
}
